.border {
    border-radius: 0.25rem;
    border: 1px #343a40 solid;
}

.game-item {
    padding: 1rem
}

.game-link {
    transition: background-color 0.5s ease;
    background-color: transparent;
}

.game-link:hover {
    text-decoration: none;
    background-color: black;
}

.game-link .title {
    color: black;
}

.game-item:not(:last-child) {
    margin-bottom: 5px;
}

.breadcrumb-nav .breadcrumb {
    padding: 0.2rem;
    background-color: transparent;
    margin: 0;
}

.hover-me:hover {
    background-color: #343a40;
    color: white;
}

.hover-me:hover .text-muted {
    color: rgba(255, 255, 255, 0.75) !important;
}

.menu-item {
    border-radius: 0.25rem;
}