:root {
    --blue: #5e72e4;
    --indigo: #5603ad;
    --purple: #8965e0;
    --pink: #f3a4b5;
    --red: #f5365c;
    --orange: #fb6340;
    --yellow: #ffd600;
    --green: #2dce89;
    --teal: #11cdef;
    --cyan: #2bffc6;
    --white: #ffffff;
    --gray: #6c757d;
    --gray-dark: #32325d;
    --light: #ced4da;
    --lighter: #e9ecef;
    --primary: #e14eca;
    --secondary: #f4f5f7;
    --success: #00f2c3;
    --info: #1d8cf8;
    --warning: #ff8d72;
    --danger: #fd5d93;
    --light: #adb5bd;
    --dark: #212529;
    --default: #344675;
    --white: #ffffff;
    --neutral: #ffffff;
    --darker: black;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.main-panel[data="blue"] .has-changed-data,
.main-panel[data="blue"] .row-has-changes > td:not(:last-of-type) {
    color: #1d8cf8 !important;
    filter: brightness(1.25);
}

.main-panel[data="green"] .has-changed-data,
.main-panel[data="green"] .row-has-changes > td:not(:last-of-type) {
    color: #00f2c3 !important;
    filter: brightness(1.25);
}

.main-panel[data="primary"] .has-changed-data,
.main-panel[data="primary"] .row-has-changes > td:not(:last-of-type) {
    color: #e14eca !important;
    filter: brightness(1.25);
}

.nav-item-title {
    font-size: 12px !important;
    letter-spacing: 1px;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
    margin-bottom: 10px;
}

code {
    padding: 8px;
    margin: 10px 0;
    font-size: 13px;
    width: 100%;
    border-radius: 5px;
}

code {
    background: #27293d;
}

.navbar.navbar-transparent a:not(.dropdown-item) {
    color: white !important;
}

.white-content .navbar.navbar-transparent a {
    color: #1d253b !important;
}

.white-content blockquote {
    color: black !important;
}

.navbar-nav a:hover {
    filter: unset !important;
}

.dropdown-menu a {
    color: black !important;
}

.btn-group.special {
    display: flex;
}

.special .btn {
    flex: 1
}

.no-radius .btn {
    border-radius: 0;
}

.AbilityTitle {
    font-size: 20px;
}

.PatchIcon-Holder {
    min-width: 40px;
    width: 40px;
    height: 40px;
    padding: 5px;
    position: relative;
    margin-right: 10px;
}

.PatchIcon {
    filter: brightness(1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 80%;
}

.white-content .PatchIcon {
    filter: brightness(.3);
}

.patch-notes table {
    width: 100% !important;
}

.white-content .btn-group .btn {
    color: black !important;
    background-image: linear-gradient(to bottom left, rgba(212,212,212,1), rgba(255,255,255,1), rgba(193,193,193,1));
}

    .white-content .btn-group .btn:hover, .white-content .btn-group .btn.active {
        background-image: linear-gradient(to bottom left, rgba(255,255,255,1), rgba(212,212,212,1), rgba(193,193,193,1)) !important;
    }


.build-list {
    position: relative;
    background: #27293d;
    display: inline-flex;
    border-radius: 0.2857rem;
}

    .build-list li {
        padding: 10px 8px;
        line-height: 1.625rem;
        text-decoration: none;
        position: relative;
        text-transform: uppercase;
        cursor: pointer;
    }

    .build-list li i {
        margin-right: 3px;
    }