@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="row">
    <div class="col-12" aria-label="breadcrumb col-12" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="/Index">All Games</a></li>
            <li class="breadcrumb-item active">Error</li>
        </ol>
    </div>

    <div class="col-12">
        <h1 class="text-danger">Error.</h1>
        <h2 class="text-danger">An error occurred while processing your request.</h2>

        @if (Model.ShowRequestId)
        {
            <p>
                <strong>Request ID:</strong> <code>@Model.RequestId</code>
            </p>
        }
    </div>
</div>
