@page "/v/{code}/{file}"
@model BlizzTrack.Pages.ViewGameModel

@{
    ViewData["Title"] = $"{BNetLib.Helpers.GameName.Get(Model.Meta.Product)} // {Model.Meta.Flags}";
}

<div class="row">
    <div class="col-12" aria-label="breadcrumb col-12" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-page="/Index">
                    All Games
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">@BNetLib.Helpers.GameName.Get(Model.Meta.Product)</li>
            <li class="breadcrumb-item active" aria-current="page">@Model.Meta.Flags</li>
        </ol>
    </div>

    <!--
    <div class="col-12">
        <div class="card card-nav-tabs text-center">
            <div class="card-body">
                <h4 class="display-2 p-5 m-0">
                    @BNetLib.Helpers.GameName.Get(Model.Meta.Product)
                </h4>
            </div>
        </div>
    </div>
        -->
    @{
        switch (Model.Manifest)
        {
            case List<Core.Models.Manifest<BNetLib.Models.Versions[]>> ver:
                await Html.RenderPartialAsync($"_view_{Model.Meta.Flags.ToLower()}", ver);
                break;
            case List<Core.Models.Manifest<BNetLib.Models.BGDL[]>> ver:
                await Html.RenderPartialAsync($"_view_{Model.Meta.Flags.ToLower()}", ver);
                break;
            default:
                @("Unknown state")
                break;
        }
    }
</div>